nav#header {
	box-sizing: border-box;
	border: 5px solid #2f4f4f;
	background-color: #bccbdb;
	color: #000;
	padding: 2%;
	width: 100%;
}

.box {
	box-sizing: border-box;
	border: 5px solid #2f4f4f;
	background-color: #bccbdb;
	color: #000;
	padding: 2%;
	margin: 2%;
}