@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class='box'>
<h2>Add an engineer</h2>

<h4>Add an engineer to this machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.DropDownList("EngineerId", (IEnumerable<SelectListItem>)ViewData["Menu"],"-- Select Engineer --" )

  <input type="submit" value="Save" />
}
</div>
<hr />
<a href='@Url.Action("Index")'><button>Back to list</button></a>