@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add an engineer</h2>
<hr />

<div class='box'>
<h4>Add an engineer to this machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.DropDownList("EngineerId", (IEnumerable<SelectListItem>)ViewData["Menu"],"-- Select Engineer --" )

  <input type="submit" value="Save" />
}
</div>

<hr />
<a href='@Url.Action("Details", new { id = Model.MachineId })'><button>Back to details</button></a>