@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Machine>;

<h1>Machines</h1>
<hr />

<div class='box'>
@if (@Model.Count == 0)
{
  <h3>No machines have been added yet</h3>
} 

<ul>
@foreach (Machine machine in Model)
{
  <li>
    <strong>@Html.ActionLink($"{machine.Name}", "Details", new { id = machine.MachineId })</strong>&emsp;
    <em>@machine.Description</em>
  </li>
}
</ul>
</div>

<hr />
<a href='@Url.Action("Create")'><button>Add new machine</button></p>