@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class='box'>
<h2>Add a machine</h2>

<h4>Add a repair license to this engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.DropDownList("MachineId", (IEnumerable<SelectListItem>)ViewData["Menu"],"-- Select Machine --" )

  <input type="submit" value="Save" />
}
</div>
<hr />
<a href='@Url.Action("Index")'><button>Back to list</button></a>