@{
  Layout = "_Layout";
}

<h1>SillyStringz</h1>
<hr />
<a href='@Url.Action("Index", "Machines")'><button>See all machines</button></a>
<br><br>
<a href='@Url.Action("Index", "Engineers")'><button>See all engineers</button></a>